
@import "http://fonts.googleapis.com/css?family=Raleway";
/* Above line is used for online google font */
h2{
background-color:#FEFFED;
padding:30px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
h3{
font-size:21px;
margin-bottom:40px;
color:#000;
font-family:serif
}
hr{
margin:10px -50px;
border:0;
border-top:1px solid #ccc;
margin-bottom:40px
}
p{
font-size:14px
}
i{
color:#07b300;
font-weight:700
}
b{
color:red;
font-weight:700;
font-size:16px
}
span{
color:red
}
.forgot{
text-decoration:none;
display:block;
float:left;
margin-top:5px;
margin-left:5px;
color:blue
}
.logout{
text-decoration:none;
color:red;
background-color:#e6e6fa;
padding:5px 12px;
border:1px solid #8a2be2;
float:right;
border-radius:0 0 0 5px;
margin-top:-40px;
margin-right:-50px;
font-size:12px;
font-weight:700
}
.login{
float:right;
text-align:center;
text-decoration:none;
color:#000;
font-weight:700;
width:25%;
padding:5px;
background-color:#f5f5dc;
border:1px solid gray;
border-radius:5px;
outline:none
}
.success{
color:green;
display:block;
font-weight:700
}
div.container{
width:900px;
height:610px;
margin:35px auto;
font-family:'Raleway',sans-serif
}
div.main{
width:320px;
padding:10px 50px 25px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
float:left;
margin-top:60px
}
input[type=text],input[type=password]{
width:95.7%;
height:30px;
padding:5px;
margin-bottom:5px;
margin-top:5px;
border:2px solid #ccc;
color:#4f4f4f;
font-size:16px;
border-radius:5px
}
label{
color:#464646;
text-shadow:0 1px 0 #fff;
font-size:14px;
font-weight:700
}
input[type=submit]{
padding:10px;
font-size:18px;
background:linear-gradient(#ffbc00 5%,#ffdd7f 100%);
border:1px solid #e5a900;
color:#4E4D4B;
font-weight:700;
cursor:pointer;
width:100%;
border-radius:5px;
margin-bottom:10px
}
input[type=submit]:hover{
background:linear-gradient(#ffdd7f 5%,#ffbc00 100%)
}
